#ifndef _ENV_H
#define _ENV_H

#define API_KEY "bgfbsfbgsdfbsdfbsdfgyj,i.oi.ukl.hkbsgbstgb\npsdfgbsgfbsdfgbndgfjghjfghjfgafasdfasdfefqgfwerhgyhjumui,u\nasdvdsfvbfsdg....."
#define FIREBASE_PROJECT_ID "projectName-1a2b3c"
#define USER_EMAIL "exemple.email@you.email.com"
#define USER_PASSWORD "12345678"

#endif
